.scaling-svg-container {
    position: relative; 
    height:0; 
    width: 100%; 
    padding: 0;
    padding-bottom: 100%; 
    /* over-ride this inline for aspect ratio other than square */
  }
  .scaling-svg {
    position: absolute; 
    /* height: auto;  */
    width: auto; 
    left: 0; 
    top:0;
    max-height: 100vh;
    overflow: auto;
  }
  .logo{
      width:50%;
  }

  @keyframes ufo-building-float {
    0%   {transform: translateY(0px)}
    25%  {transform: translateY(10px)}
    75%  {transform: translateY(-10px)}
    100% {transform: translateY(0)}
  }

  .ufo-building-float {
    animation: ufo-building-float 5s cubic-bezier(.33,0,.66,1) infinite;
  }
  